---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: 'Futura';

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    font-weight: normal;
    font-style: normal;
}

.full_width {
    width: 100%;
    img {
        width: 100%;
    }
}

body {
    background-image: url("/assets/website_images/brickwork1.jpg");
    background-size: tile;
    color: #f9f9f9;
    font-family: "Arial", sans-serif;
}

section, footer {
    width: 85%;
    margin: 0px auto !important;
}

a, a:visited {
    color: #f9f9f9;
    text-decoration: none;
}

h2, h3 {
    font-family: Futura;
    margin: 20px 0px;
}


.clearfix {
  overflow: auto;
  zoom: 1;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

p {
    margin: 20px 0px;
}

section {
    margin-top: 50px;

    &:first-of-type {
        margin-top: 0px;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
        "splash",
        "about",
        "schedule",
        "location",
        "sponsors"
;
