---
layout: null
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <h1> Day 1 schedule </h2>
    <div class="slot_grid">
      {% assign timeslots = "9:30 10:00 10:30 11:00 11:30 12:00 12:30 1:00 1:30 2:00 2:30 3:00 4:30 4:00 4:30 5:00" | split: " " %}
      {% assign rooms = site.data.schedule %}
      <div class=slot_column_title></div>
      {% for room in rooms %}
        <div class=slot_column_title>
          {{ room.name }}
          {% for talk in room.slots %}
            <div class="slot {{ talk.starts | replace: ":", "_" | prepend: "s" }} {% if talk.double %}double{% endif %}">{{ talk.name }} by {{ talk.author}}</div>
          {% endfor %}
          </div>
      {% endfor %}
      <div class=clearfix></div>
      {% for time in timeslots %}
        <div class=slot_row_title>{{ time }}</div>
      {% endfor %}
    </div>
  </body>
</html>
