---
layout: null
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <h1> Day 1 schedule </h2>
    <div class="slot_grid">
      {% assign timeslots = "11:00 11:30 12:00 12:30 1:00 1:30 2:00 2:30 3:00 4:30 4:00 4:30" | split: " " %}
      {% assign rooms = site.data.schedule %}
      <div class=slot_row>
        <div class=slot_column_title></div>
        {% for room in rooms %}
          <div class=slot_column_title>
            {{ room.name }}
            </div>
        {% endfor %}
      </div>
      {% for time in timeslots %}
        <div class=slot_row>
          <div class=slot_row_title>{{ time }}</div>
            {% for room in rooms %}
              {% assign this_talk = null %}
              {% for talk in room.slots %}
                {% if talk.starts == time %}
                  {% assign this_talk = talk %}
                {% endif}
              {% endfor %}
            {% endfor %}
            {% if this_talk %}
              <div class="slot {% if this_talk.double %} double {% endif %}" >
                {{ this_talk.name }} {{ this_talk.author }}
              </div>
            {% else %}
              <div class="slot"></div>
            {% endif %}
          {% endfor%}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
