<header id="header" style="display: none;">
    <nav>
      <img class="logo-small" src="/assets/images/date.jpg">

      <div class="nav-menu">
        <span class="logo-small-text">July 16, 2016</span>
        <a class="nav-item" href="#about">About</a>
        <a class="nav-item" href="#schedule">Schedule</a>
        <a class="nav-item" href="#location">Location</a>
        <a class="nav-item" href="#sponsors">Sponsors</a>
        <a class="register" href="http://barcampnola9.eventbrite.com">Register</a>
      </div>
    </nav>
</header>
