<section id="schedule">
    <h2>Schedule</h2>

    <ul class=general-schedule>
      <li class=day-one>
        <h4>Day 1 - <a href="/schedule.html"> Full Schedule</a></h4>
        <ul class=day-schedule>
          <li class=entry>
            <div class=time>9:30</div>
            <div class=thing>Meet and Greet</div>
          </li>
          <li class=entry>
            <div class=time>10:00</div>
            <div class=thing>Registration</div>
          </li>
          <li class=entry>
            <div class=time>11:00</div>
            <div class=thing>Presentations</div>
          </li>
          <li class=entry>
            <div class=time>1:00</div>
            <div class=thing>Lunch and Project Reveal</div>
          </li>
          <li class=entry>
            <div class=time>2:00</div>
            <div class=thing>More presentations</div>
          </li>
          <li class=entry>
            <div class=time>5:30</div>
            <div class=thing>Party Time</div>
          </li>
        </ul>
      </li>
      <li class=day-two>
        <ul class=day-schedule>
          <h4>Day 2</h4>
          <li class=entry>
            <div class=time>9:30</div>
            <div class=thing>Coffee and Breakfast</div>
          </li>
          <li class=entry>
            <div class=time>10:00</div>
            <div class=thing>Project Overview</div>
          </li>
          <li class=entry>
            <div class=time>10:30</div>
            <div class=thing>Buildy McBuildTime</div>
          </li>
          <li class=entry>
            <div class=time>Noon</div>
            <div class=thing>Lunch</div>
          </li>
          <li class=entry>
            <div class=time>1:30</div>
            <div class=thing>More Buildin'</div>
          </li>
          <li class=entry>
            <div class=time>5:00</div>
            <div class=thing>Finish and Celebrate</div>
          </li>
        </ul>
      </li>
    </ul>


    <p></p>
</section>

<section id="after-party">
    <div class="after-party">
        <h3>The After Party</h3>
        <p>
            Saturday, after the main event, starting at 5:30 we will be hosting the afterparty. The location will be within walking distance of Tulane at Philips Bar & Restaurant 733 Cherokee St, New Orleans, LA 70118.
        </p>
    </div>
</section>
