<section id="schedule">
    <h2>Schedule</h2>

    <ul class=general-schedule>
      <li class=day-one>
        <h4>Day 1 - <a href="/schedule.html"> Full Schedule</a></h4>
        <ul class=day-schedule>
          <li class=entry>
            <div class=time>9:30</div>
            <div class=thing>Meet and Greet</div>
          </li>
          <li class=entry>
            <div class=time>10:00</div>
            <div class=thing>Registration</div>
          </li>
          <li class=entry>
            <div class=time>11:00</div>
            <div class=thing>Presentations</div>
          </li>
          <li class=entry>
            <div class=time>1:00</div>
            <div class=thing>Lunch and Project Reveal</div>
          </li>
          <li class=entry>
            <div class=time>2:00</div>
            <div class=thing>More presentations</div>
          </li>
          <li class=entry>
            <div class=time>5:30</div>
            <div class=thing>Party Time</div>
          </li>
        </ul>
      </li>
      <li class=day-two>
        <ul class=day-schedule>
          <h4>Day 2</h4>
          <li class=entry>
            <div class=time>9:30</div>
            <div class=thing>Coffee and Breakfast</div>
          </li>
          <li class=entry>
            <div class=time>10:00</div>
            <div class=thing>Project Overview</div>
          </li>
          <li class=entry>
            <div class=time>10:30</div>
            <div class=thing>Buildy McBuildTime</div>
          </li>
          <li class=entry>
            <div class=time>Noon</div>
            <div class=thing>Lunch</div>
          </li>
          <li class=entry>
            <div class=time>1:30</div>
            <div class=thing>More Buildin'</div>
          </li>
          <li class=entry>
            <div class=time>5:00</div>
            <div class=thing>Finish and Celebrate</div>
          </li>
        </ul>
      </li>
    </ul>


    <p></p>
</section>

<section id="talk_schedule">
      <h1> Day 1 Talks </h2>
    <div class="slot_grid">
      {% assign timeslots = "11:00 11:30 12:00 12:30 1:00 1:30 2:00 2:30 3:00 3:30 4:00 4:30" | split: " " %}
      {% assign rooms = site.data.schedule %}
      <div class=slot_row>
        <div class=slot_column_title></div>
        {% for room in rooms %}
          <div class=slot_column_title>
            {{ room.name }}
            </div>
        {% endfor %}
      </div>
      {% for time in timeslots %}
        <div class=slot_row>
          <div class=slot_row_title>{{ time }}</div>
            {% for room in rooms %}
              {% assign this_talk = null %}
              {% for talk in room.slots %}
                {% if talk.starts == time %}
                  {% assign this_talk = talk %}
                {% endif}
              {% endfor %}
            {% endfor %}
            {% if this_talk %}
              <div class="slot {% if this_talk.double %} double {% endif %}" >
                {{ this_talk.name }} {{ this_talk.author }}
              </div>
            {% else %}
              <div class="slot"></div>
            {% endif %}
          {% endfor%}
        </div>
      {% endfor %}
      <p></p>
</section>

<section id="after-party">
    <div class="after-party">
        <h3>The After Party</h3>
        <p>
            Saturday, after the main event, starting at 5:30 we will be hosting the afterparty. The location will be within walking distance of Tulane at Philips Bar & Restaurant 733 Cherokee St, New Orleans, LA 70118.
        </p>
    </div>
</section>
