

#header {
    background-image: url("/assets/images/brickwork1.jpg");
    position: fixed;
    height: 90px;

    margin: 0px;
    width: 100vw;
    box-shadow: 0px 10px 10px black;
    z-index: 999;


    .logo-small {
        width: 200px;
        max-height: 80px;
        margin-left: 2rem;


    }
    .logo-small-text {
      display: none;
    }
    nav {
        font-family: Futura;
        font-size: 2em;
        display: flex;
        width: 80%;

        .nav-menu {
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;

        }
        a {

            margin-left: 1%;
            transition: color .5s;
            padding-left: 3%;
            &:hover {
                color: #F55;
                transition: color .5s;
            }
        }

        a.register {
            margin: 0 2%;
            position: absolute;
            top: 10%;
            right: 1%;
            color: #7cb2e0;
            font-size: 1.3em;
            border: 2px solid white;
            border-radius: 5px;
            padding: 0.8rem;
            transition: color .5s;

            &:hover {
                color: gold;
            }
        }
    }
}


.pow-image {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 99999999;
}
@media (max-width: 1080px) {

  #header {
      background-image: url("/assets/images/brickwork1.jpg");
      position: fixed;
      height: initial;
      border-bottom: .2em solid #7cb2e0;

      margin: 0px;
      width: 100vw;
      box-shadow: 0px 10px 10px black;
      z-index: 999;

      .logo-small {
          display: none;
      }
      .logo-small-text {
        display: flex;
        color: #7cb2e0;
        border: 1px solid #7cb2e0;
        border-radius: 10px;
        padding: 0.5rem;
      }



      nav {
          display: flex;
          font-family: Futura;
          width: auto;
          align-items:baseline;
          justify-content: center;

          .nav-menu {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            font-size: 2rem;
            margin: auto;
            width: 100vw;
            align-items: baseline;

          }
          a {
              padding: 1%;
              margin-left: 1%;
              transition: color .5s;

              &:hover {
                  color: #F55;
                  transition: color .5s;
              }
          }

          a.register {
              margin: 0 2%;
              position: relative;
              color: red;
              border: 2px solid white;
              border-radius: 5px;
              padding: 1%;
              transition: color .5s;
              font-size: 1em;
              &:hover {
                  color: gold;
              }
          }
      }
  }

}
