#header {
    background-image: url("/assets/images/brickwork1.jpg");
    position: fixed;
    height: 90px;

    margin: 0px;
    width: 100vw;
    box-shadow: 0px 10px 10px black;
    z-index: 999;

    .logo-small, nav {
        display: inline-block;
        vertical-align: middle;
    }

    .logo-small {
        width: 200px;
        margin: 5px 15px;
    }

    nav {
        font-family: Futura;
        font-size: 2em;
        width: 75vw;

        .nav-menu {
          margin: auto;
          width: 20em;

        }
        a {

            margin-left: 1%;
            transition: color .5s;

            &:hover {
                color: #F55;
                transition: color .5s;
            }
        }

        a.register {
            margin: 0 2%;
            position: absolute;
            top: 10%;
            right: 1%;
            color: red;
            font-size: 1.3em;
            border: 2px solid white;
            border-radius: 5px;
            padding: 1%;

            transition: color .5s;

            &:hover {
                color: gold;
            }
        }
    }
}

.pow-image {
    position: absolute;
    width: 300px;
    height: 300px;
    z-index: 99999999;
}
