#schedule {
  padding-top: 100px;

  .general-schedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .day-schedule {

  }

  .entry {
    font-size: 1.25em;
  }

  .day-one, .day-two {
      margin: 20px;
      min-width: 390px;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        margin: 1em;
        font-size: 1.75em;
        font-family: Futura;
      }
  }

  .entry {
    .time {
      display: inline-flex;
      width: 3em;
    }
    .thing {
      display: inline;
    }
  }
}

.slot_grid {
  $row_height: 50px;
  $column_width: 200px;
  width: $column_width * 5;

  .slot_column_title {
    display: inline-block;
    width: $column_width;
    height: $row_height;
    vertical-align: bottom;
    padding-left: 10px;
    padding-right: 10px;
    border-left: thin solid white;
    border-right: thin solid white;
    border-bottom: thin solid white;
  }
  .slot_column_title:first-child {
    width: 60px;
  }
  .slot_row_title {
    display: block;
    height: $row_height;
    width: 60px;
  }

  .slot {
    height: $row_height;
    width: $column_width;
    padding-left: 10px;
    padding-right: 10px;
    border-left: thin solid white;
    border-right: thin solid white;
    border-bottom: thin solid white;
  }
  .slot.double {
    border-bottom: none;
  }
  
  .slot_row {
    display: flex;
  }
}

div.time {
  width: 2em;
}

.full-schedule {
  display: table;
  border-collapse: collapse;
  margin: 1em auto;
  color: #EBEBC4;
    
  .slots li:not(.time) {
      background: url('/assets/images/question.png');
      min-width: 10em;
      min-height: 7.3em;
      background-size: 32%;
      background-repeat: no-repeat;
      background-position: 50%;
      border-bottom: 2px solid #EBEBC4;
      padding: 2em;
  }

  > * {
    display: table-row;
  }

  > * > * {
    display: table-cell;
  }

  .time {
    vertical-align: middle;
    padding-right: 1em;
    text-align: right;
  }
  .headings li {
    padding: .4rem .4rem .8rem .4rem;
    width: 8em;
    text-align: center;
  }
  .headings li, .time {
    font-size: 1.6em;
    text-shadow: 2px 2px #7cb2e0;
  }
}

#full-schedule-page {
  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 15vw;
  }
  aside {
    margin: auto;
    font-size: 3em;
    padding: 1.6rem;
  }
  .actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    a {
      padding: .6rem;
      border: 2px solid #EBEBC4;
      display: inline-block;
      border-radius: 10px;
    } 
  }
}