#schedule {
  padding-top: 100px;

  .general-schedule {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .day-one, .day-two {
      flex-grow: 1;
      margin: 20px;
      min-width: 390px;
      max-width: 500px;

      h4 {
        font-weight: bold;
        margin: 1em;
      }
  }

  .entry {
    .time {
      display: inline;
    }
    .thing {
      display: inline;
    }
  }

}
